@model ProjectMVC.DAL.Models.Activities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <table class="table table-bordered table-info">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink(" ", "Edit", "Activities", new { id = Model.Id }, new { @class = "btn btn-primary fas fa-save" })
    @Html.ActionLink(" ", "Index", "Activities", null, new { @class = "btn btn-primary fas fa-undo-alt" })
</p>
