@model ProjectMVC.Logica.Models.ViewModels.ProjectsDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-bordered table-info">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Title)</td>
        <td>@Html.DisplayNameFor(m => m.Details)</td>
        <td>@Html.DisplayNameFor(m => m.ExpectedCompletionDate)</td>
        <td>@Html.DisplayNameFor(m => m.CreatedAt)</td>
        <td>@Html.DisplayNameFor(m => m.UpdatedAt)</td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(m => m.Title)</td>
        <td>@Html.DisplayFor(m => m.Details) </td>
        <td>@Html.DisplayFor(m => m.ExpectedCompletionDate)    </td>
        <td>@Html.DisplayFor(m => m.CreatedAt)</td>
        <td>@Html.DisplayFor(m => m.UpdatedAt)</td>
    </tr>
</table>

<div class="form-row">
    <div class="col-md-12">
        <br />
        @Html.ActionLink(" ", "Index", "Projects", null, new { @class = "btn btn-primary fas fa-undo-alt" })
    </div>
</div>