@model IEnumerable<ProjectMVC.Logica.Models.ViewModels.VehiclesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Vehicles</h2>

@Html.ActionLink(" ", "Create", "Vehicles", null, new { @class = "btn btn-primary fas fa-plus-circle" })

<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(model => model.LicensePlate)</td>
        <td>@Html.DisplayNameFor(model => model.NroTransitLicense)</td>
        <td>@Html.DisplayNameFor(model => model.StateVehicle)</td>
        <td>@Html.DisplayNameFor(model => model.TypeServiceId)</td>
        <td>@Html.DisplayNameFor(model => model.ClassVehicleId)</td>
        <td>@Html.DisplayNameFor(model => model.Image)</td>
        <td>@Html.DisplayNameFor(model => model.CustomerId)</td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.NroTransitLicense)</td>
            <td>@Html.DisplayFor(model => item.NroTransitLicense)</td>
            <td>@Html.DisplayFor(model => item.StateVehicle)</td>
            <td>@Html.DisplayFor(model => item.TypeServiceId)</td>
            <td>@Html.DisplayFor(model => item.ClassVehicleId)</td>
            <td>@Html.DisplayFor(model => item.Image)</td>
            <td>@Html.DisplayFor(model => item.CustomerId)</td>
        </tr>
    }
</table>
