
@model ProjectMVC.Logica.Models.BindingModels.VehicleGeneralInformationCreateBindingModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Genral Information</h2>

<form action="/VehicleGeneralInformation/Create" method="post">

    <div class="form-row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.BrandId)
            @Html.DropDownListFor(m => m.BrandId, new SelectList(ViewBag.Brands, "Id", "Name", "Active"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BrandId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Line)
            @Html.EditorFor(m => m.Line, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Line, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.ModelV)
            @Html.EditorFor(m => m.ModelV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ModelV, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Color)
            @Html.EditorFor(m => m.Color, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Color, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.SerialNumber)
            @Html.EditorFor(m => m.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.SerialNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.EngineNumber)
            @Html.EditorFor(m => m.EngineNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.EngineNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.ChassisNumber)
            @Html.EditorFor(m => m.ChassisNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ChassisNumber, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.VIN)
            @Html.EditorFor(m => m.VIN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.VIN, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Cylinder)
            @Html.EditorFor(m => m.Cylinder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Cylinder, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.TypeBody)
            @Html.EditorFor(m => m.TypeBody, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.TypeBody, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.TypeFuelId)
            @Html.DropDownListFor(m => m.TypeFuelId, new SelectList(ViewBag.TypeFuels, "Id", "Name", "Active"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TypeFuelId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.InitialEnrollmentDate)
            @Html.EditorFor(m => m.InitialEnrollmentDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.InitialEnrollmentDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.NroDoors)
            @Html.EditorFor(m => m.NroDoors, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.NroDoors, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.TypeTireId)
            @Html.DropDownListFor(m => m.TypeTireId, new SelectList(ViewBag.TypeTires, "Id", "Name", "Active"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TypeTireId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.AuthoritiesTransitId)
            @Html.DropDownListFor(m => m.AuthoritiesTransitId, new SelectList(ViewBag.AuthoritiesTransit, "Id", "Name", "Active"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AuthoritiesTransitId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.VehicleId)
            @Html.DropDownListFor(m => m.VehicleId, new SelectList(ViewBag.Vehicles, "Id", "LicensePlate"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VehicleId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <button type="submit" value="" class="btn btn-primary"><i class="fas fa-save"></i></button>
            @Html.ActionLink(" ", "Index", "AuthoritiesTransit", null, new { @class = "btn btn-primary fas fa-undo-alt" })
        </div>
    </div>

</form>


