@model IEnumerable<ProjectMVC.DAL.Models.AuthoritiesTransit>

@{
    ViewBag.Title = "Index";
}

<h2>AuthoritiesTransit</h2>

@Html.ActionLink(" ", "Create", "AuthoritiesTransit", null, new { @class = "btn btn-primary fas fa-plus-circle" })

<table class="table table-bordered">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Active)
        </td>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
        </tr>
    }
    </table>